# General
yarn-error.log
node_modules
.DS_STORE

# Foundry files
cache
out-via-ir

# Config files
.env

# Avoid ignoring gitkeep
!/**/.gitkeep

# Keep related abi
out/*/*

# Keep the latest deployment only
broadcast/*/*/*

# Docs build files
docs/book
docs/src/solidity/interfaces
docs/src/static

# Cache for the python scripts
proofs/__pycache__/*

# Deployments for E2E
solidity/scripts/deployments/*.json
proofs/proof.json
